@model IEnumerable<HospiceWebPortal.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @*/////SideBar//////*@
    <div class="col-md-4">
        @*/////Action Required//////*@
        <div class="gray-content">
            <h2 class="green-header">Action Required</h2>
            <p>
                <strong>RSVP to Hike For Hospice</strong><br>
                <a href="#">Yes</a> | <a href="#">No</a> | <a href="#">Maybe</a><br><br>
                <strong>RSVP to the 5 Car Draw</strong><br>
                <a href="#">Yes</a> | <a href="#">No</a> | <a href="#">Maybe</a>
            </p>
        </div>
        @*/////Events//////*@
        <div class="gray-content">
            <h2 class="green-header">Events</h2>
            <p>
                <b>January 25, 2015</b> Wavelength<br />
                Discuss hospice niagara web portal.
            </p>
            <p>
                <b>January 26, 2015</b> Timothy Blokzyl<br />
                Discuss progress with Dave and Peter.
            </p>
        </div>
        @*/////Sidebar Announcements//////*@
        <div class="gray-content">

            <h2 class="green-header">Announcements</h2>

            <p style="text-align:left; padding: 0 15px 0 20px">
                <strong>What Is Lorem Ipsum?</strong><br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br><br> <strong>Why Do We Use It?</strong><br>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br><br> <strong>Where can I get some?</strong><br>
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </p>

        </div>
        @*/////Common Resources//////*@
        <div class="gray-content">

            <h2 class="green-header">Common Resources</h2>

            <p class="common-resources">

                <a href="#">Health and Safety</a><br>
                <a href="#">Incident Report</a><br>
                <a href="#">Mileage & Expense</a><br>
                <a href="#">Volunteer Ticket Seller Information Sheet</a><br>

            </p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="gray-content">
            
                <h2 class="green-header">Staff Contact Information</h2>

                <p>
                    @Html.ActionLink("Create New Contact", "Create")
                </p>

            <div class="contact-content" style="margin: 0 10px 0 10px;">
                <table class="table">
                    <tr>
                        <th>
                            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                        </th>
                        <th>
                            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Position)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EXT)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>

                                <div class="bs-example">
                                    <a href="#" style="text-decoration:none; color:black;" data-trigger="hover" data-toggle="popover" data-html="true" title='<strong>Areas Of Responsibility</strong>' data-content='
                                        Leadership Team Member<br />
                                        Finance Lead<br />
                                        IT Lead<br />
                                        Facilities Lead<br />
                                        Administration Lead
                                        '>@Html.DisplayFor(model => item.Position)</a>
                                </div>

                                @*////Possible way to implement modals instead of popovers for position descriptions////*@

                                @*<a  data-toggle="modal" href="/Contacts/Index/@item.ID">@Html.DisplayFor(modelitem => item.Position) </a>*@

                                <!-- Large modal -->
                                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Position</button>

                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-@(item.ID)" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            @Html.DisplayFor(model => item.Position)
                                        </div>
                                    </div>
                                </div>*@
</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EXT)
                            </td>
                            <td>

                                <a href="@Url.Action("Delete", new { id = item.ID })" style="font-size:1em; color:black; padding-left:5px; float:right;">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span class="sr-only" style="text-align:right;">Delete</span>
                                </a>
                                <a href="@Url.Action("Edit", new { id = item.ID })" style="font-size:1em; color:black; float:right;">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    <span class="sr-only" style="text-align:right;">Edit</span>
                                </a>

                                @*////This will add a details view if neccessary////*@
                                @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>